*,
*::before,
::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
html {
  color-scheme: dark light;
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  max-width: 100%;
  height: 100vh;
  background-color: #1d0cdf;
  font-family: "Roboto", sans-serif;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
input,
button {
  font: inherit;
}
.container {
  width: 350px;
  height: 320px;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 0;
  text-align: center;
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
label {
  display: block;
  text-align: left;
  margin: 20px 50px 10px 50px;
  font-size: 1.4rem;
}
input {
  width: 250px;
  height: 30px;
  outline: none;
  font-size: 1.5rem;
}
